input {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 52px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  outline: none;
  &::placeholder {
    color: #afadb5;
  }
}

.input-container {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 52px;
  padding: 0 12px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px !important;
  border: 1px solid #c5c5c5;

  &:not(:has(input:disabled)) {
    &:hover,
    &:focus {
      border-radius: 0;
      outline: 1px solid #008fff;
      background: #fff;
    }
  }

  &::placeholder {
    color: #afadb5;
  }
}

.icon {
  margin-left: -35px;
}
